
<% if params[:mode] == 'night' %>


  <div class="header header-1">
    <div class="center">
      <div class="top">
        <div class="left">
          <a href="#"><img src="/images/logo-1.png"></a>
        </div>
        <div class="right" style="text-decoration: none;">
          <a href="tel://88007700708">
            <h2>8 800 770-07-08</h2>
          </a>
          <a href="tel://84952588855" style="text-decoration: none;">
            <h2>7 495 258-88-55</h2>
          </a>
          <p>круглосуточно</p>
        </div>
        <div class="clear"></div>
      </div>
      <div class="center-h">
        <h1>Только этой ночью!</h1>
        <br />
        <h2 style="line-height: 1.3;"><span>Скидка 50%</span><br>На все пластиковые окна</h2>
        <a class="button fancybox" href="#inline1">ПОЛУЧИТЬ СКИДКУ</a>
      </div>
    </div>
  </div>

<% else %>

  <div class="header">
    <div class="center">
        <div class="top">
            <div class="left">
                <a href="#"><img src="/images/logo.png"></a>
              </div>
              <div class="right">
                <a href="tel://88007700708" style="text-decoration: none;">
                  <h2>8 800 770-07-08</h2>
                </a>
                <a href="tel://84952588855" style="text-decoration: none;">
                  <h2>8 495 258-88-55</h2>
                </a>
                  <p>круглосуточно</p>
              </div>
              <div class="clear"></div>
          </div>
        <div class="center-h">
              <span class="blue">До <strong>30</strong> сентября</span>
                <h1><span>50% скидка</span> на пластиковые окна<br>из профильной системы Rehau</h1>
              <h3>количество окон со скидкой по акции ограничено</h3>
              <a class="button fancybox" href="#inline1">ПОЛУЧИТЬ СКИДКУ</a>
          </div>
      </div>
  </div>

<% end %>

<div id="inline1" style="width:234px; height: 340px;display: none; padding: 51px 113px;">
        <h2>Заполните форму</h2>
                
                <form id="form2">
                  <input id="name" class="text rfield" type="text" name="order[name]" placeholder="Ваше имя">
                    <input id="phone" class="text rfield" type="text" name="order[phone]" placeholder="Ваш телефон">
                    <input id="date" class="text" type="text" name="order[date]" placeholder="День и время">
                    <input id="submit2" class="button btn_submit2 disabled" type="button" value="ОТПРАВИТЬ">
                </form>
</div>

<div class="block-1">
  <div class="center">
    <h2 class="title">Наши преимущества</h2>
        <div class="prejm">
          <div class="block-prejm">
              <div class="img"><img src="/images/p-1.jpg"></div>
                <h3>Производство полного<br>цикла</h3>
                <p> Свои цеха по изготовлению стеклопакетов, арочных конструкций, ламинации профиля.</p>
            </div>
            <div class="block-prejm">
              <div class="img"><img src="/images/p-2.jpg"></div>
                <h3>5 дней на<br>выполнение заказа</h3>
                <p>С момента подписания договора до<br>готового окна в вашем<br>доме 5 дней!</p>
            </div>
          <div class="block-prejm">
              <div class="img"><img src="/images/p-3.jpg"></div>
                <h3>Пять лет<br>гарантии</h3>
                <p>После установки окна мы выдадим<br>вам сертификат на 5 лет гарантии и<br> обслуживания</p>
            </div>
            <div class="block-prejm">
              <div class="img"><img src="/images/p-4.jpg"></div>
                <h3>Вынос<br>мусора</h3>
                <p>После установки окна мы аккуратно<br>сложим строительный мусор и вынесем<br>его на площадку</p>
            </div>
            <div class="block-prejm">
              <div class="img"><img src="/images/p-5.jpg"></div>
                <h3>Государственные<br>стандарты</h3>
                <p>Монтаж проводится строго в<br>соответствии с государственными<br>стандартами РФ</p>
            </div>
            <div class="block-prejm">
              <div class="img"><img src="/images/p-6.jpg"></div>
                <h3>0%<br>Рассрочка</h3>
                <p>Мы осуществляем продажу<br>окон в рассрочку под<br>0% на 12 месяцов</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="block-2 zz">
  <div class="center">
      <h2 class="title">Стоимость</h2>
        <!-- TAB -->
        <div id="example-two">
          
        <ul class="nav">
                <li class="nav-one"><a href="#ttab1" class="current">DIV-LIGH</a></li>
                <li class="nav-two"><a href="#ttab2">DIV-KOMFORT</a></li>
                <li class="nav-three"><a href="#ttab3">DIV-PRESTIGE</a></li>
                <li class="nav-four"><a href="#ttab4">DIV-DIAMANT</a></li>
                <div class="clear"></div>
            </ul>
        
        <div class="list-wrap">
        
          <ul id="ttab1">
                  <div class="size">
                      <div onclick="change1('1','7 245')" class="block-size">
                          <img id="1" class="img-1" src="/images/c1.jpg">
                        </div>
                        <div onclick="change1('2','8 865')" class="block-size">
                          <img id="2" class="img-2" src="/images/c2.jpg">
                        </div>
                        <div onclick="change1('3','10 350')" class="block-size">
                          <img id="3" class="img-3" src="/images/c3.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h4 class="stt">Стоимость составит <span class="price">7 245</span> рублей</h4>
          </ul>
                
                <script type="text/javascript">
          function change1(arg,arg1){
                        $("#ttab1 .price").html(arg1);
            $("#ttab1 .img-1").css("border", "3px solid #efefef");
            $("#ttab1 .img-2").css("border", "3px solid #efefef");
            $("#ttab1 .img-3").css("border", "3px solid #efefef");
            
            var color = " 3px solid #fc9945";
                        console.log(color);
                        $("#ttab1 .img-"+arg).css("border", color);
                    }
        </script>
             
             <ul id="ttab2" class="hide">
                    <div class="size">
                      <div onclick="change2('1','10 175')" class="block-size">
                          <img id="1" class="img-1" src="/images/c1.jpg">
                        </div>
                        <div onclick="change2('2','11 372')" class="block-size">
                          <img id="2" class="img-2" src="/images/c2.jpg">
                        </div>
                        <div onclick="change2('3','14 050')" class="block-size">
                          <img id="3" class="img-3" src="/images/c3.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h4 class="stt">Стоимость составит <span class="price">10 175</span> рублей</h4>
             </ul>
                 
                 <script type="text/javascript">
          function change2(arg,arg1){
                        $("#ttab2 .price").html(arg1);
            $("#ttab2 .img-1").css("border", "3px solid #efefef");
            $("#ttab2 .img-2").css("border", "3px solid #efefef");
            $("#ttab2 .img-3").css("border", "3px solid #efefef");
            
            var color = " 3px solid #fc9945";
                        console.log(color);
                        $("#ttab2 .img-"+arg).css("border", color);
                    }
        </script>
             
             <ul id="ttab3" class="hide">
                <div class="size">
                      <div onclick="change3('1','11 904')" class="block-size">
                          <img id="1" class="img-1" src="/images/c1.jpg">
                        </div>
                        <div onclick="change3('2','13 304')" class="block-size">
                          <img id="2" class="img-2" src="/images/c2.jpg">
                        </div>
                        <div onclick="change3('3','16 437')" class="block-size">
                          <img id="3" class="img-3" src="/images/c3.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h4 class="stt">Стоимость составит <span class="price">11 904</span> рублей</h4>
             </ul>
                 
                 <script type="text/javascript">
          function change3(arg,arg1){
                        $("#ttab3 .price").html(arg1);
            $("#ttab3 .img-1").css("border", "3px solid #efefef");
            $("#ttab3 .img-2").css("border", "3px solid #efefef");
            $("#ttab3 .img-3").css("border", "3px solid #efefef");
            
            var color = " 3px solid #fc9945";
                        console.log(color);
                        $("#ttab3 .img-"+arg).css("border", color);
                    }
        </script>
                 
                 <ul id="ttab4" class="hide">
                <div class="size">
                      <div onclick="change4('1','18 198')" class="block-size">
                          <img id="1" class="img-1" src="/images/c1.jpg">
                        </div>
                        <div onclick="change4('2','20 546')" class="block-size">
                          <img id="2" class="img-2" src="/images/c2.jpg">
                        </div>
                        <div onclick="change4('3','25 444')" class="block-size">
                          <img id="3" class="img-3" src="/images/c3.jpg">
                        </div>
                        <div class="clear"></div>
                    </div>
                    <h4 class="stt">Стоимость составит <span class="price">18 198</span> рублей</h4>
             </ul>
                 
                 <script type="text/javascript">
          function change4(arg,arg1){
                        $("#ttab4 .price").html(arg1);
            $("#ttab4 .img-1").css("border", "3px solid #efefef");
            $("#ttab4 .img-2").css("border", "3px solid #efefef");
            $("#ttab4 .img-3").css("border", "3px solid #efefef");
            
            var color = " 3px solid #fc9945";
                        $("#ttab4 .img-"+arg).css("border", color);
                    }
        </script>
             
         </div> <!-- END List Wrap -->
     
     </div>
        <!-- END_TAB -->
    </div>
</div>

<div class="block-3">
  <div class="center">
      <h2 class="title">Стандартные комплектации</h2>
        <!-- TAB -->
        <div id="example-tree">
          
        <ul class="nav">
                <li class="nav-one"><a href="#ttab1" class="current">DIV-LIGH</a></li>
                <li class="nav-two"><a href="#ttab2">DIV-KOMFORT</a></li>
                <li class="nav-three"><a href="#ttab3">DIV-PRESTIGE</a></li>
                <li class="nav-four"><a href="#ttab4">DIV-DIAMANT</a></li>
                <div class="clear"></div>
            </ul>
        
        <div class="list-wrap">
        
          <ul id="ttab1">
                  <div class="standart">
                <div class="slider1 slider">
                          <div class="img-ss"><img src="/images/t1-i1.jpg"></div>
                            <div class="th-img-ss">
                              <div onclick="slider1('1')" class="th-img"><img class="tt-1" width="64" height="64" src="/images/t1-i1.jpg"></div>
                                <div onclick="slider1('2')" class="th-img"><img class="tt-2" width="64" height="64" src="/images/t1-i2.jpg"></div>
                                <div onclick="slider1('3')" class="th-img"><img class="tt-3" width="64" height="64" src="/images/t1-i3.jpg"></div>
                            </div>
                  </div>
                        
                        <script type="text/javascript">
                    function slider1(arg){
                        $(".slider1 .img-ss img").attr({src:"/images/t1-i"+arg+".jpg"});
            
            
            $(".slider1 .tt-1").css("border", "3px solid #FFF");
            $(".slider1 .tt-2").css("border", "3px solid #FFF");
            $(".slider1 .tt-3").css("border", "3px solid #FFF");
            
            var color = " 3px solid #0083ca";
                        console.log(color);
                        $(".slider1 .tt-"+arg).css("border", color);
                    }
                </script>
                        
                  <div class="text-st">
                          <h2 class="tt-text">DIV-LIGHT</h2><br>
              <h4>Комплектация:</h4>
                            <ul>
                              <li>&#8226; Профиль <span>REHAU BLITZ Design</span></li>
                                <li>&#8226; <span>Фурнитура</span> Roto NT</li>
                                <li>&#8226; <span>Стеклопакет</span> 1/24 с энергосберегающим стеклом </li>
                                <li>&#8226; Уплотнитель этилен-пропиленовый (чёрный) </li>
                                <li>&#8226; Блокиратор ошибочного открывания</li>
                                <li>&#8226; <span>Подоконник</span> «Витраж» Россия</li>
                                <li>&#8226; <span>Отлив<span> оцинковка</li>
                                <li>&#8226; <span>Откосы<span></li>
                            </ul>
                            <br>
                            <h4>Дополнительные опции:</h4>
                            <ul>
                              <li>&#8226; Балконная ручка с защёлкой </li>
                                <li>&#8226; Гребёнка наружная</li>
                                <li>&#8226; Заглушка паза штапика</li>
                            </ul>
                            
                            <div class="rasscitat">
                              <a class="button fancybox" href="#inline1">РАССЧИТАТЬ</a>
                                <h4>данную комплектацию</h4>
                            </div>
                  </div>
                  <div class="clear"></div>
              </div>
          </ul>
             
             <ul id="ttab2" class="hide">
                    <div class="standart">
                <div class="slider2 slider">
                          <div class="img-ss"><img src="/images/t1-i2.jpg"></div>
                            <div class="th-img-ss">
                              <div onclick="slider2('1')" class="th-img"><img class="tt-1" width="64" height="64" src="/images/t2-i1.jpg"></div>
                                <div onclick="slider2('2')" class="th-img"><img class="tt-2" width="64" height="64" src="/images/t2-i2.jpg"></div>
                                <div onclick="slider2('3')" class="th-img"><img class="tt-3" width="64" height="64" src="/images/t2-i3.jpg"></div>
                            </div>
                  </div>
                        
                        <script type="text/javascript">
                    function slider2(arg){
                        $(".slider2 .img-ss img").attr({src:"/images/t2-i"+arg+".jpg"});
            
            
            $(".slider2 .tt-1").css("border", "3px solid #FFF");
            $(".slider2 .tt-2").css("border", "3px solid #FFF");
            $(".slider2 .tt-3").css("border", "3px solid #FFF");
            
            var color = " 3px solid #0083ca";
                        console.log(color);
                        $(".slider2 .tt-"+arg).css("border", color);
                    }
                </script>
                        
                  <div class="text-st">
                          <h2 class="tt-text">DIV-KOMFORT</h2><br>
              <h4>Комплектация:</h4>
                            <ul>
                              <li>&#8226; Профиль <span>REHAU DELIGHT Design</span></li>
                                <li>&#8226; <span>Фурнитура</span> Roto NT</li>
                                <li>&#8226; <span>Стеклопакет</span> 2/41</li>
                                <li>&#8226; Уплотнитель этилен-пропиленовый (чёрный) </li>
                <li>&#8226; <span>Подоконник</span> «Витраж Премиум» Россия</li>
                <li>&#8226; Отлив полиэстр с торцевыми накладками </li>
                <li>&#8226; <span>Откосы<span></li>
                <li>&#8226; Блокиратор ошибочного открывания</li> 
                            </ul>
                            
                            <br>
                            <h4>Дополнительные опции:</h4>
                            <ul>
                              <li>&#8226; Балконная ручка с защёлкой</li>
                                <li>&#8226; <span>Москитная сетка</span></li>
                                <li>&#8226; Гребёнка наружная</li>
                                <li>&#8226; Гребёнка внутренняя</li>
                                <li>&#8226; Заглушка паза штапика</li>
                                <li>&#8226; Отбойник на створку</li>
                            </ul>
                            
                            <div class="rasscitat">
                              <a class="button fancybox" href="#inline1">РАССЧИТАТЬ</a>
                                <h4>данную комплектацию</h4>
                            </div>
                  </div>
                  <div class="clear"></div>
              </div>
             </ul>
             
             <ul id="ttab3" class="hide">
                <div class="standart">
                <div class="slider3 slider">
                          <div class="img-ss"><img src="/images/t3-i1.jpg"></div>
                            <div class="th-img-ss">
                              <div onclick="slider3('1')" class="th-img"><img class="tt-1" width="64" height="64" src="/images/t3-i1.jpg"></div>
                                <div onclick="slider3('2')" class="th-img"><img class="tt-2" width="64" height="64" src="/images/t3-i2.jpg"></div>
                                <div onclick="slider3('3')" class="th-img"><img class="tt-3" width="64" height="64" src="/images/t3-i3.jpg"></div>
                            </div>
                  </div>
                        
                        <script type="text/javascript">
                    function slider3(arg){
                        $(".slider3 .img-ss img").attr({src:"/images/t3-i"+arg+".jpg"});
            
            
            $(".slider3 .tt-1").css("border", "3px solid #FFF");
            $(".slider3 .tt-2").css("border", "3px solid #FFF");
            $(".slider3 .tt-3").css("border", "3px solid #FFF");
            
            var color = " 3px solid #0083ca";
                        console.log(color);
                        $(".slider3 .tt-"+arg).css("border", color);
                    }
                </script>
                        
                  <div class="text-st">
                          <h2 class="tt-text">DIV-PRESTIGE</h2><br>
              <h4>Комплектация:</h4>
                            <ul>
                                <li>&#8226; Профиль <span>REHAU Delight Design</span> с фигурным штапиком </li>
                                <li>&#8226; <span>Фурнитура</span> Roto NT</li>
                                <li>&#8226; <span>Стеклопакет</span> 2/32 </li>
                                <li>&#8226; Уплотнитель этилен-пропиленовый (чёрный) </li>
                                <li>&#8226; <span>Подоконник</span> Moller Германия </li>
                                <li>&#8226; <span>Отлив</span> полиэстр с торцевыми накладками</li>
                                <li>&#8226; Балконная ручка с защёлкой</li>
                                <li>&#8226; <span>Москитная сетка</span></li>
                                <li>&#8226; <span>Откосы</span></li>
                                <li>&#8226; Гребёнка наружная</li>
                                <li>&#8226; Гребёнка внутренняя</li>
                                <li>&#8226; Заглушка паза штапика</li>
                                <li>&#8226; Отбойник на створку</li>
                            </ul>
                            <br>
                            <h4>Дополнительные опции:</h4>
                            <ul>
                              <li>&#8226; Энергосберегающее стекло</li>
                                <li>&#8226; Уплотнитель каучук-силиконовый (белый) </li>
                            </ul>
                            
                            <div class="rasscitat">
                              <a class="button fancybox" href="#inline1">РАССЧИТАТЬ</a>
                                <h4>данную комплектацию</h4>
                            </div>
                  </div>
                  <div class="clear"></div>
              </div>
             </ul>
                 
                 <ul id="ttab4" class="hide">
                <div class="standart">
                <div class="slider4 slider">
                          <div class="img-ss"><img src="/images/t4-i1.jpg"></div>
                            <div class="th-img-ss">
                              <div onclick="slider4('1')" class="th-img"><img class="tt-1" width="64" height="64" src="/images/t4-i1.jpg"></div>
                                <div onclick="slider4('2')" class="th-img"><img class="tt-2" width="64" height="64" src="/images/t4-i2.jpg"></div>
                                <div onclick="slider4('3')" class="th-img"><img class="tt-3" width="64" height="64" src="/images/t4-i3.jpg"></div>
                            </div>
                  </div>
                        
                        <script type="text/javascript">
                    function slider4(arg){
                        $(".slider4 .img-ss img").attr({src:"/images/t4-i"+arg+".jpg"});
            
            
            $(".slider4 .tt-1").css("border", "3px solid #FFF");
            $(".slider4 .tt-2").css("border", "3px solid #FFF");
            $(".slider4 .tt-3").css("border", "3px solid #FFF");
            
            var color = " 3px solid #0083ca";
                        console.log(color);
                        $(".slider4 .tt-"+arg).css("border", color);
                    }
                </script>
                        
                  <div class="text-st">
                          <h2 class="tt-text">DIV-DIAMANT</h2><br>
              <h4>Комплектация:</h4>
                            <ul>
                              <li>&#8226; Профиль <span>REHAU BRILLANT Design</span></li>
                                <li>&#8226; <span>Фурнитура</span> Roto NT </li>
                                <li>&#8226; <span>Стеклопакет</span> 2/32 с энергосберегающим стеклом, противошумный </li>
                                <li>&#8226; Уплотнитель каучук-силиконовый (белый) </li>
                                <li>&#8226; <span>Подоконник</span> Moller Германия </li>
                                <li>&#8226; <span>Отлив</span> полиэстр с торцевыми накладками </li>
                                <li>&#8226; Балконная ручка с магнитной защёлкой</li>
                                <li>&#8226; <span>Москитная сетка</span> «антипыль»</li>
                                <li>&#8226; <span>Откосы</span> </li>
                                <li>&#8226; Фиксатор открывания створки</li>
                                <li>&#8226; Заглушка паза штапика</li>
                                <li>&#8226; Блокиратор ошибочного открывания</li>
                            </ul>
                            
                            <div class="rasscitat">
                              <a class="button fancybox" href="#inline1">РАССЧИТАТЬ</a>
                                <h4>данную комплектацию</h4>
                            </div>
                  </div>
                  <div class="clear"></div>
              </div>
             </ul>
             
         </div> <!-- END List Wrap -->
     
     </div>
        <!-- END_TAB -->
    </div>
</div>

<div class="block-4 zz">
  <div class="center">
      <h2 class="title">Оставьте заявку на выезд технического специалиста<br>в удобное для себя время!</h2>
        <div class="bb-4">
          <div class="left">
              <div class="or">Почему стоит вызвать менеджера-консультанта</div>
                <table>
                  <tr>
                      <td><img src="/images/1.jpg"></td>
                        <td>Менеджер приедет в удобное для Вас время</td>
                    </tr>
                    <tr>
                      <td><img src="/images/2.jpg"></td>
                        <td>Менеджер учтет планировку квартиры и 
материалы, из которых построен дом</td>
                    </tr>
                    <tr>
                      <td><img src="/images/3.jpg"></td>
                        <td>Учтет ветровые нагрузки и внешний шум.</td>
                    </tr>
                    <tr>
                      <td><img src="/images/4.jpg"></td>
                        <td>Поможет выбрать оптимальную 
конструкцию окна и комплектующих: подоконников, москитных сеток и т.д.</td>
                    </tr>
                    <tr>
                      <td><img src="/images/5.jpg"></td>
                        <td>Снимет точные размеры окна. Рассчитает стоимость заказа и подберёт оптимальный для Вас вариант оплаты – наличные или рассрочка.</td>
                    </tr>
                </table>
            </div>
            <div class="right">
              <h2>Оставить заявку</h2>
                <h3>на замер Вашего окна</h3>
                <form id="form1">
                  <input id="name" class="text rfield" type="text" name="order[name]" placeholder="Ваше имя">
                    <input id="phone" class="text rfield" type="text" name="order[phone]" placeholder="Ваш телефон">
                    <input id="date" class="text" type="text" name="order[date]" placeholder="День и время">
                    <input id="submit1" class="button btn_submit1 disabled" type="button" value="ОТПРАВИТЬ">
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="block-5">
  <div class="center">
      <h2 class="title">Реальные отзывы о нашей работе</h2>
        <div class="list_carousel">
        <ul id="foo2">
          <li>
                      <h2 class="name">Элли</h2>
                        <h2 class="blue">25.09.2012 в 5:24</h2>
                        <br>
            <div class="text-ot"><p>Мой отзыв скорее можно назвать нейтральным, потому что я не смогу отметить какие-то резко негативные или, наоборот, позитивные моменты. Все было технично и быстро, так и следует всем работать. Консультант, замерщик и монтажники отработали качественно, результат нас с мужем устроил. Спасибо за работу.=)</p></div>
                    </li>
                    <li>
                      <h2 class="name">Татьяна</h2>
                        <h2 class="blue">26.10.2012 в 10:06</h2>
                        <br>
            <div class="text-ot"><p>В «Дивных окнах» есть окна со специальной системой проветривания! Очень удобно для тех, кто много готовит и вообще много времени проводит на кухне. Довольна, что поставила на кухню окно с такой системой.</p></div>
                    </li>
                    <li>
                      <h2 class="name">Евгения</h2>
                        <h2 class="blue">26.11.2012 в 12:52 </h2>
                        <br>
            <div class="text-ot"><p>Сразу скажу, народ мы не скучный. Пытаемся, как можем, разукрасить и разнообразить интерьер. На этот раз дошло дело до замены окон, надоели сквозняки и постоянный шум машин. В «Дивных окнах» заказали ламинированные окна. Если кто не знает, то это пластиковая оконная рама, покрытая цветной пленкой под дерево. Выполнено очень аккуратно и издалека создается впечатление, будто это деревянное окно. Долго цвета выбирали, на сайте «Дивных окон» их очень много представлено. Мы посчитали, что такое окно станет очередным ярким пятном в нашем доме, разбавит серые будни. В тому же, насколько я знаю, ламинированные окна имеют больший срок службы.</p></div>
                    </li>
                    <li>
                      <h2 class="name">Женя</h2>
                        <h2 class="blue">29.10.2013 в 11:07</h2>
                        <br>
            <div class="text-ot"><p>Этим летом дачу достроили. За окнами обратились в «Дивные окна» – сосед посоветовал. Пообщавшись с оператором, понял, что обратился к профессионалам. Заказал ламинированные окна. Когда окна привезли, я был в восторге! Такая красотища. Теперь думаю домой такие же заказать.</p></div>
                    </li>
                    <li>
                      <h2 class="name">Zakirov</h2>
                        <h2 class="blue">03.11.2013 в 6:41</h2>
                        <br>
            <div class="text-ot"><p>Добротная компания, которая качественно устанавливает окна из немецкого профиля Рехау. Одним из позитивных моментов «Дивных Окон» считаю, что монтажники убирают за собой мусор, а также ведут себя как порядочные люди.</p></div>
                    </li>
                    <li>
                      <h2 class="name">Анастасия</h2>
                        <h2 class="blue">28.03.2014 в 9:14</h2>
                        <br>
            <div class="text-ot"><p>Я тоже пользовалась услугами компании «Дивные окна». Поменяла старое окно на кухне. С договором никаких проблем не было. Все просто и понятно. Рабочие пришли очень быстро. Даже помогли мебель отодвинуть. Очень позитивные люди. Не ругались, не курили. Даже мусор за собой убрали! В общем, я осталась очень довольна. Как только финансы позволят, снова обращусь в «Дивные окна» и поменяю оставшиеся два окна.</p></div>
                    </li>
        </ul>
        <div class="clearfix"></div>
        <a id="prev2" class="prev" href="#">&lt;</a>
        <a id="next2" class="next" href="#">&gt;</a>
        <div id="pager2" class="pager"></div>
      </div>
    </div>
</div>

<div class="footer zz">
  <div class="center">
      <div class="ff-bl">
          <a href="tel://88007700708" style="text-decoration: none;">
            <h2>8 800 770-07-08</h2>
          </a>
          <a href="tel://84952588855" style="text-decoration: none;">
            <h2>8 495 258-88-55</h2>
          </a>
            <p>круглосуточно</p>
        </div>
        <div class="ff-bl">
        </div>
        <div class="ff-bl">
          <img src="/images/logo.png">
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- tab -->
    <script src="js/organictabs.jquery.js"></script>
    <script>
        $(function() {
    
            $("#example-two").organicTabs({
                "speed": 200
            });
      
      $("#example-tree").organicTabs({
                "speed": 200
            });
    
        });
    </script>
    <!-- end tab -->
</body>