<html>
  <head>
    <%= css :application %>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <%= js :application %>
    <title>
      Дивные Окна
    </title>
    <script type="text/javascript" language="javascript">
      $(function() {

        //  Scrolled by user interaction
        $('#foo2').carouFredSel({
          prev: '#prev2',
          next: '#next2',
          pagination: "#pager2",
          auto: false
        });

      });
    </script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.fancybox').fancybox();
    });
  </script>
  </head>
  <body>
    <%= yield %>
    <%= erb :metrika %>

  </body>
</html>
